.linkwhite {
  color: white;
  text-decoration: none;
  padding-right: 5px;
}

.active {
  color: black;
  text-decoration: none;
  margin: 5px;
}

.textSizeChange {
  cursor: pointer;
  margin-left: 15px;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-color: white;
  border-style: solid;
}
